In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings("ignore")

In [2]:
zomato_real = pd.read_csv(r"D:\PFP\Projects\Restaurant Recommendation System\zomato.csv")
zomato_real.head()

,url,address,name,online_order,book_table,rate,votes,phone,location,rest_type,dish_liked,cuisines,approx_cost(for two people),reviews_list,menu_item,listed_in(type),listed_in(city)
0,https://www.zomato.com/bangalore/jalsa-banasha...,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,Yes,Yes,4.1/5,775,080 42297555\r\n+91 9743772233,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,"[('Rated 4.0', 'RATED\n A beautiful place to ...",[],Buffet,Banashankari
1,https://www.zomato.com/bangalore/spice-elephan...,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,Yes,No,4.1/5,787,080 41714161,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,"[('Rated 4.0', 'RATED\n Had been here for din...",[],Buffet,Banashankari
2,https://www.zomato.com/SanchurroBangalore?cont...,"1112, Next to KIMS Medical College, 17th Cross...",San Churro Cafe,Yes,No,3.8/5,918,+91 9663487993,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,"[('Rated 3.0', ""RATED\n Ambience is not that ...",[],Buffet,Banashankari
3,https://www.zomato.com/bangalore/addhuri-udupi...,"1st Floor, Annakuteera, 3rd Stage, Banashankar...",Addhuri Udupi Bhojana,No,No,3.7/5,88,+91 9620009302,Banashankari,Quick Bites,Masala Dosa,"South Indian, North Indian",300,"[('Rated 4.0', ""RATED\n Great food and proper...",[],Buffet,Banashankari
4,https://www.zomato.com/bangalore/grand-village...,"10, 3rd Floor, Lakshmi Associates, Gandhi Baza...",Grand Village,No,No,3.8/5,166,+91 8026612447\r\n+91 9901210005,Basavanagudi,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600,"[('Rated 4.0', 'RATED\n Very good restaurant ...",[],Buffet,Banashankari

In [3]:
zomato_real.shape

(51717, 17)

In [4]:
zomato_real.columns

Index(['url', 'address', 'name', 'online_order', 'book_table', 'rate', 'votes',
       'phone', 'location', 'rest_type', 'dish_liked', 'cuisines',
       'approx_cost(for two people)', 'reviews_list', 'menu_item',
       'listed_in(type)', 'listed_in(city)'],
      dtype='object')

In [5]:
zomato = zomato_real.drop(columns=["url","phone","dish_liked"])

In [6]:
zomato.isnull().sum()

address                           0
name                              0
online_order                      0
book_table                        0
rate                           7775
votes                             0
location                         21
rest_type                       227
cuisines                         45
approx_cost(for two people)     346
reviews_list                      0
menu_item                         0
listed_in(type)                   0
listed_in(city)                   0
dtype: int64

In [7]:
zomato.dropna(how="any",inplace=True)
zomato.isnull().sum()

address                        0
name                           0
online_order                   0
book_table                     0
rate                           0
votes                          0
location                       0
rest_type                      0
cuisines                       0
approx_cost(for two people)    0
reviews_list                   0
menu_item                      0
listed_in(type)                0
listed_in(city)                0
dtype: int64

In [8]:
zomato.duplicated().sum()

34

In [9]:
zomato.drop_duplicates(inplace=True)
zomato.duplicated().sum()

0

In [10]:
zomato.rename(columns={"approx_cost(for two people)": "cost", "listed_in(type)": "type", "listed_in(city)" : "city"},inplace=True)
zomato.columns

Index(['address', 'name', 'online_order', 'book_table', 'rate', 'votes',
       'location', 'rest_type', 'cuisines', 'cost', 'reviews_list',
       'menu_item', 'type', 'city'],
      dtype='object')

In [11]:
zomato.dtypes

address         object
name            object
online_order    object
book_table      object
rate            object
votes            int64
location        object
rest_type       object
cuisines        object
cost            object
reviews_list    object
menu_item       object
type            object
city            object
dtype: object

In [12]:
zomato["cost"] = zomato["cost"].astype(str)
zomato["cost"] = zomato["cost"].apply(lambda x: x.replace(",",""))
zomato["cost"] = zomato["cost"].astype(float)
zomato["cost"]

0         800.0
1         800.0
2         800.0
3         300.0
4         600.0
          ...
51709     800.0
51711     800.0
51712    1500.0
51715    2500.0
51716    1500.0
Name: cost, Length: 43499, dtype: float64

In [13]:
zomato.rate.unique()

array(['4.1/5', '3.8/5', '3.7/5', '3.6/5', '4.6/5', '4.0/5', '4.2/5',
       '3.9/5', '3.1/5', '3.0/5', '3.2/5', '3.3/5', '2.8/5', '4.4/5',
       '4.3/5', 'NEW', '2.9/5', '3.5/5', '2.6/5', '3.8 /5', '3.4/5',
       '4.5/5', '2.5/5', '2.7/5', '4.7/5', '2.4/5', '2.2/5', '2.3/5',
       '3.4 /5', '-', '3.6 /5', '4.8/5', '3.9 /5', '4.2 /5', '4.0 /5',
       '4.1 /5', '3.7 /5', '3.1 /5', '2.9 /5', '3.3 /5', '2.8 /5',
       '3.5 /5', '2.7 /5', '2.5 /5', '3.2 /5', '2.6 /5', '4.5 /5',
       '4.3 /5', '4.4 /5', '4.9/5', '2.1/5', '2.0/5', '1.8/5', '4.6 /5',
       '4.9 /5', '3.0 /5', '4.8 /5', '2.3 /5', '4.7 /5', '2.4 /5',
       '2.1 /5', '2.2 /5', '2.0 /5', '1.8 /5'], dtype=object)

In [14]:
zomato = zomato.loc[zomato.rate != "NEW"]
zomato = zomato.loc[zomato.rate != "-"].reset_index(drop=True)
zomato["rate"].unique()

array(['4.1/5', '3.8/5', '3.7/5', '3.6/5', '4.6/5', '4.0/5', '4.2/5',
       '3.9/5', '3.1/5', '3.0/5', '3.2/5', '3.3/5', '2.8/5', '4.4/5',
       '4.3/5', '2.9/5', '3.5/5', '2.6/5', '3.8 /5', '3.4/5', '4.5/5',
       '2.5/5', '2.7/5', '4.7/5', '2.4/5', '2.2/5', '2.3/5', '3.4 /5',
       '3.6 /5', '4.8/5', '3.9 /5', '4.2 /5', '4.0 /5', '4.1 /5',
       '3.7 /5', '3.1 /5', '2.9 /5', '3.3 /5', '2.8 /5', '3.5 /5',
       '2.7 /5', '2.5 /5', '3.2 /5', '2.6 /5', '4.5 /5', '4.3 /5',
       '4.4 /5', '4.9/5', '2.1/5', '2.0/5', '1.8/5', '4.6 /5', '4.9 /5',
       '3.0 /5', '4.8 /5', '2.3 /5', '4.7 /5', '2.4 /5', '2.1 /5',
       '2.2 /5', '2.0 /5', '1.8 /5'], dtype=object)

In [15]:
zomato["rate"] = zomato["rate"].astype(str).apply(lambda x: x.replace("/5","") if type(x) == np.str else x).str.strip().astype("float")
zomato["rate"].unique()

array([4.1, 3.8, 3.7, 3.6, 4.6, 4. , 4.2, 3.9, 3.1, 3. , 3.2, 3.3, 2.8,
       4.4, 4.3, 2.9, 3.5, 2.6, 3.4, 4.5, 2.5, 2.7, 4.7, 2.4, 2.2, 2.3,
       4.8, 4.9, 2.1, 2. , 1.8])

In [16]:
zomato.name = zomato.name.apply(lambda x: x.title())

In [17]:
zomato.columns

Index(['address', 'name', 'online_order', 'book_table', 'rate', 'votes',
       'location', 'rest_type', 'cuisines', 'cost', 'reviews_list',
       'menu_item', 'type', 'city'],
      dtype='object')

In [18]:
zomato.online_order.replace(("Yes","No"),("True","False"),inplace=True)
zomato.book_table.replace(("Yes", "No"), ("True", "False"), inplace=True)

In [19]:
restaurant = list(zomato.name.unique())
zomato["Mean Rating"] = 0

In [20]:
for i in range(len(restaurant)):
    zomato["Mean Rating"][zomato["name"] == restaurant[i]] = zomato["rate"][zomato["name"] == restaurant[i]].mean()

In [21]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler(feature_range=(1,5))

zomato[["Mean Rating"]] = scaler.fit_transform(zomato[["Mean Rating"]]).round(2)

In [22]:
zomato["reviews_list"] = zomato["reviews_list"].str.lower()

In [23]:
import string
from nltk.corpus import stopwords
import re

def cleaning_punctuation(text):
    return text.translate(str.maketrans("","",string.punctuation))

zomato["reviews_list"] = zomato["reviews_list"].apply(lambda x: cleaning_punctuation(x))

STOPWORDS = set(stopwords.words('english'))
def remove_stopwords(text):
    return " ".join([word for word in str(text).split() if word not in STOPWORDS])

zomato["reviews_list"] = zomato["reviews_list"].apply(lambda x: remove_stopwords(x))

def cleaning_urls(text):
    return re.compile(r"https?://\S+|www\.\S+").sub(r"",text)

zomato["reviews_list"] = zomato["reviews_list"].apply(lambda x: cleaning_urls(x))

In [24]:
zomato.columns

Index(['address', 'name', 'online_order', 'book_table', 'rate', 'votes',
       'location', 'rest_type', 'cuisines', 'cost', 'reviews_list',
       'menu_item', 'type', 'city', 'Mean Rating'],
      dtype='object')

In [25]:
zomato[["reviews_list", "cuisines"]].sample(5)

,reviews_list,cuisines
33557,rated 10 ratedn food 25nnambience 35nnservice ...,"Italian, North Indian"
20597,rated 40 ratedn sole reason visiting place egg...,"Continental, Italian, Mexican, Asian"
23779,rated 40 ratedn good place chinese food servic...,"Chinese, Momos"
12842,rated 40 ratedn absolute delight try shakes ou...,"Beverages, Fast Food"
10618,rated 40 ratedn love interior quirky quotes wr...,"Continental, Chinese, North Indian, Finger Food"

In [26]:
zomato = zomato.drop(columns=["address", "rest_type", "menu_item", "type", "votes"],axis=1)

In [27]:
zomato.head()

,name,online_order,book_table,rate,location,cuisines,cost,reviews_list,city,Mean Rating
0,Jalsa,True,True,4.1,Banashankari,"North Indian, Mughlai, Chinese",800.0,rated 40 ratedn beautiful place dine inthe int...,Banashankari,3.99
1,Spice Elephant,True,False,4.1,Banashankari,"Chinese, North Indian, Thai",800.0,rated 40 ratedn dinner family turned good choo...,Banashankari,3.97
2,San Churro Cafe,True,False,3.8,Banashankari,"Cafe, Mexican, Italian",800.0,rated 30 ratedn ambience good enough pocket fr...,Banashankari,3.58
3,Addhuri Udupi Bhojana,False,False,3.7,Banashankari,"South Indian, North Indian",300.0,rated 40 ratedn great food proper karnataka st...,Banashankari,3.45
4,Grand Village,False,False,3.8,Basavanagudi,"North Indian, Rajasthani",600.0,rated 40 ratedn good restaurant neighbourhood ...,Banashankari,3.58

In [28]:
zomato.shape

(41237, 10)

In [29]:
df_percent = zomato.sample(frac=0.4) #randomly choosing 40% of data

In [30]:
df_percent

,name,online_order,book_table,rate,location,cuisines,cost,reviews_list,city,Mean Rating
18144,Hearts Unlock Cafe,False,False,3.2,BTM,"Cafe, Healthy Food",500.0,rated 25 ratedn nice place hookah peaceful go ...,JP Nagar,2.80
11399,Basveshwara Khaanavali,False,False,3.5,Electronic City,South Indian,150.0,rated 40 ratedn wanna taste jowar roti masala ...,Electronic City,3.19
31506,The Banana Kick,True,False,3.3,New BEL Road,"Cafe, Beverages",600.0,rated 10 ratedn food tastelessnot place visit ...,Malleshwaram,2.94
28424,Tomago Roast,True,False,3.5,BTM,"Fast Food, Beverages",400.0,rated 50 ratedn first change ordered food rest...,Koramangala 7th Block,3.19
28537,Brewz Coffee,True,False,3.0,BTM,Cafe,650.0,rated 40 ratedn brewz coffee afternoon lovely ...,Koramangala 7th Block,2.59
...,...,...,...,...,...,...,...,...,...,...
16208,Royal Paris,True,False,3.9,BTM,"North Indian, Arabian, Chinese",1000.0,rated 40 ratedn located convenient street amid...,Jayanagar,3.64
37202,O.G. Variar & Sons,False,False,4.8,Rajajinagar,"Bakery, Desserts",200.0,rated 50 ratedn place legacy moved delhi banga...,Rajajinagar,4.87
33938,Ayda Persian Kitchen,True,False,3.9,Church Street,"North Indian, Iranian",950.0,rated 30 ratedn ambience decent persian one wo...,MG Road,3.65
23693,Aliensip,True,False,3.6,BTM,Juices,200.0,rated 40 ratedn good ambience pretty little pl...,Koramangala 5th Block,3.32
21639,Haagen Dazs,True,False,3.9,Koramangala 7th Block,"Ice Cream, Desserts",800.0,rated 30 ratedn long time paid visit haagen da...,Koramangala 4th Block,3.71

In [31]:
df_percent.set_index("name",inplace=True)

In [32]:
df_percent.head()

,online_order,book_table,rate,location,cuisines,cost,reviews_list,city,Mean Rating
name,,,,,,,,,
Hearts Unlock Cafe,False,False,3.2,BTM,"Cafe, Healthy Food",500.0,rated 25 ratedn nice place hookah peaceful go ...,JP Nagar,2.80
Basveshwara Khaanavali,False,False,3.5,Electronic City,South Indian,150.0,rated 40 ratedn wanna taste jowar roti masala ...,Electronic City,3.19
The Banana Kick,True,False,3.3,New BEL Road,"Cafe, Beverages",600.0,rated 10 ratedn food tastelessnot place visit ...,Malleshwaram,2.94
Tomago Roast,True,False,3.5,BTM,"Fast Food, Beverages",400.0,rated 50 ratedn first change ordered food rest...,Koramangala 7th Block,3.19
Brewz Coffee,True,False,3.0,BTM,Cafe,650.0,rated 40 ratedn brewz coffee afternoon lovely ...,Koramangala 7th Block,2.59

In [33]:
indices = pd.Series(df_percent.index)

In [34]:
indices

0            Hearts Unlock Cafe
1        Basveshwara Khaanavali
2               The Banana Kick
3                  Tomago Roast
4                  Brewz Coffee
                  ...
16490               Royal Paris
16491        O.G. Variar & Sons
16492      Ayda Persian Kitchen
16493                  Aliensip
16494               Haagen Dazs
Name: name, Length: 16495, dtype: object

In [35]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import linear_kernel

tfidf = TfidfVectorizer(analyzer="word",ngram_range=(1,2),stop_words="english",min_df=0)
tfidf_metrix = tfidf.fit_transform(df_percent["reviews_list"])


cosine_similarities = linear_kernel(tfidf_metrix,tfidf_metrix)

In [36]:
cosine_similarities

array([[1.        , 0.02685618, 0.01995098, ..., 0.02623784, 0.01155987,
        0.02379743],
       [0.02685618, 1.        , 0.01254856, ..., 0.05330345, 0.00768422,
        0.02397071],
       [0.01995098, 0.01254856, 1.        , ..., 0.00793905, 0.00582245,
        0.00554657],
       ...,
       [0.02623784, 0.05330345, 0.00793905, ..., 1.        , 0.01315474,
        0.04653498],
       [0.01155987, 0.00768422, 0.00582245, ..., 0.01315474, 1.        ,
        0.01382258],
       [0.02379743, 0.02397071, 0.00554657, ..., 0.04653498, 0.01382258,
        1.        ]])

In [48]:
def recomended(name, cosine_similarities=cosine_similarities):

    recommended_restaurant = []

    idx = indices[indices == name].index[0]

    score_series = pd.Series(cosine_similarities[idx]).sort_values(ascending=False)

    top_30_indexex = score_series.iloc[0:31].index

    for i in top_30_indexex:
        recommended_restaurant.append(list(df_percent.index)[i])

    df_new = pd.DataFrame(columns=['cuisines', 'Mean Rating', 'cost'])

    for i in recommended_restaurant:
        df_new = df_new.append(pd.DataFrame(df_percent[['cuisines', 'Mean Rating', 'cost']][df_percent.index == i].sample()))

    df_new = df_new.drop_duplicates(subset=['cuisines', 'Mean Rating', 'cost'],keep=False)
    df_new = df_new.sort_values(by="Mean Rating",ascending=False).head(10)

    return df_new

In [51]:
recomended("Container Coffee")

,cuisines,Mean Rating,cost
Brahmin'S Coffee Bar,South Indian,4.29,250.0
A Hole Lotta Love Cafe,"Cafe, American, Burger, Sandwich, Beverages",4.29,600.0
Asha Tiffins,South Indian,4.23,150.0
Coffee Mechanics,"Cafe, Bakery, French, Jewish, Sandwich, Vegan,...",4.23,700.0
Dreams Cafe - All Day English Food St.,"Cafe, Continental, Burger",3.58,600.0
Sri Devi Cafe,"South Indian, Chinese",3.45,200.0
Sri Venkateshwar Bhavan,"South Indian, Chinese, Seafood",3.19,200.0
Cafe Coffee Day,"Cafe, Fast Food",2.88,900.0